body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

body .message-info {
    width: 80%;
    background-color: #CDDEFF;
    color: #30258d;
    margin: 10px auto;
    padding: .5em 1em;
    font-weight: bold;
    border: .1em solid lightgray;
    border-radius: .5em;
}

body .message-success {
    width: 80%;
    background-color: #CFF3DA;
    color: #06662e;
    margin: 10px auto;
    padding: .5em 1em;
    font-weight: bold;
    border: .1em solid lightgray;
    border-radius: .5em;
}

body .message-warning {
    width: 80%;
    background-color: #FCFBC9;
    color: #88750b;
    margin: 10px auto;
    padding: .5em 1em;
    font-weight: bold;
    border: .1em solid lightgray;
    border-radius: .5em;
}

body .message-error {
    width: 80%;
    background-color: #FAD3D7;
    color: #780824;
    margin: 10px auto;
    padding: .5em 1em;
    font-weight: bold;
    border: .1em solid lightgray;
    border-radius: .5em;
}